*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.block-one{
  width: 90%;
  height: 100px;
  background-color: #E579E6;
  margin-left: 5%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.block-two{
  width: 90%;
  height: 300px;
  background-color: #E1D77A;
  margin-left: 5%;
  margin-bottom: 1%;
}

.main-block{
  width: 90%;
  height: 700px;
  background-color: #0087FF;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 1%;

}

.row-1{
  height: 70px;
  background-color: #ABCFE8;
}

.column-1{
  float: left;
  width: 15%;
  height: 600px;
  margin-top: 15px;
  background-color: #ABCFE8;
}

.column-3{
  float: right;
  width: 15%;
  height: 600px;
  margin-top: 15px;
  background-color: #ABCFE8;
}

.column-2{
  margin-left: 20%;
  width: 60%;
  height: 600px;
  margin-top: 15px;
  background-color: #ABCFE8;
}

.block-three{
  width: 90%;
  height: 100px;
  background-color: #8700FF;
  margin-left: 5%;
  margin-top: 2px;
  margin-bottom: 1%;
}
